*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #444;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.h1 {
  font-size: 24px;
}

.h2 {
  font-size: 18px;
  margin-bottom: .5em;
}

.h1,
.h2 {
  padding-bottom: .5ch;
  border-bottom: 2px solid #eee;
}

.main {
  margin: 0 auto;
  max-width: 800px;
}

.label {
  font-size: .8rem;
  font-weight: 700;
  display: block;
  /* color: #222; */
}

.input,
.select,
.textarea {
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1ch 1ch;
  line-height: 1rem;
  font-size: .9rem;
  font-family: inherit;
  margin: 0 0 1ch;
  width: 100%;
  /* border-radius: 4px; */
}

.code {
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1ch 1ch;
  line-height: 1rem;
  font-size: .9rem;
  margin: 0 0 1ch;
  width: 100%;
}

.select {
  -webkit-appearance: none;
}

.json-editor {
  height: 300px;
  margin-bottom: 1ch;
}

.button {
  display: inline-block;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  padding: .5ch 1ch;
  border: none;
  color: #fff;
  background: #e14;
  cursor: pointer;
  transition: 150ms ease;
}

.button:hover {
  background-color: #f47;
}

.button:active {
  background-color: #e14;
}

.output {
  display: block;
  height: 400px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -.5rem;
}

.column {
  display: block;
  margin: .5rem;
  /* flex-grow: 1; */
}

.table {
  border-collapse: collapse;
  border: 1px solid #eee;
  background-color: #fff;
}

.table tr {
  text-align: left;
}

.table th,
.table td {
  border: 2px solid #eee;
  padding: .5ch 1ch;
}

.loader {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-right-color: #e14;
  animation: spin 450ms forwards linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.w-1 { width: calc(100% * 1/12 - 1rem); flex-basis: calc(100% * 1/12 - 1rem); }
.w-2 { width: calc(100% * 2/12 - 1rem); flex-basis: calc(100% * 2/12 - 1rem); }
.w-3 { width: calc(100% * 3/12 - 1rem); flex-basis: calc(100% * 3/12 - 1rem); }
.w-4 { width: calc(100% * 4/12 - 1rem); flex-basis: calc(100% * 4/12 - 1rem); }
.w-5 { width: calc(100% * 5/12 - 1rem); flex-basis: calc(100% * 5/12 - 1rem); }
.w-6 { width: calc(100% * 6/12 - 1rem); flex-basis: calc(100% * 6/12 - 1rem); }
.w-7 { width: calc(100% * 7/12 - 1rem); flex-basis: calc(100% * 7/12 - 1rem); }
.w-8 { width: calc(100% * 8/12 - 1rem); flex-basis: calc(100% * 8/12 - 1rem); }
.w-9 { width: calc(100% * 9/12 - 1rem); flex-basis: calc(100% * 9/12 - 1rem); }
.w-10 { width: calc(100% * 10/12 - 1rem); flex-basis: calc(100% * 10/12 - 1rem); }
.w-11 { width: calc(100% * 11/12 - 1rem); flex-basis: calc(100% * 11/12 - 1rem); }
.w-12 { width: calc(100% * 12/12 - 1rem); flex-basis: calc(100% * 12/12 - 1rem); }

.fb-0 { flex-basis: 0; }
.fg-0 { flex-grow: 0; }

.mb-1 { margin-bottom: 1rem; }